.containerSidebar {
    height: 80%; 
    overflow: scroll;
}

.containerOrder {
    width: 62%; 
    margin: 0px 0px 0px 15px; 
    height: 400; 
}

.title1 {
    padding-right: 0; 
    font-family: 'CircularXX Light'; 
    font-size: 20px; 
    letter-spacing: 0px; 
    text-transform: capitalize;
}

.title3 {
    font-family: 'CircularXX Light' !important; 
    font-size: 15px !important; 
    letter-spacing: 0px !important; 
    text-transform: capitalize !important;
}

.title2 {
    font-size: 18px; 
    font-family: 'CircularXX Light'; 
    letter-spacing: 0px; 
    text-transform: capitalize;
}

.container1 {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin-top: 20px;  
    height: 35px; 
    width: 90%; 
    border-radius: 5px;
}

.container3 { 
    display: flex;
    align-items: center; 
}

.containerPay { 
    display: flex; 
    justify-content: space-between; 
    margin: 15px 0px 0px 15px;
    height: 10%;
}

.containerDropdawn {
    display: flex; 
    justify-content: space-around;
    height: 110px
}

.containerDropdawn1 {
    display: flex; 
    width: 100%;
    justify-content: space-around;
    background-color: white;
    height: 100px;
}

.titleDropdawn {
    color: #040404d6;
    font-family: "CircularXX Medium";
    font-size: 20px;
    letter-spacing: -0.5px;
}

.buttonQuantity {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1.5px solid #1472fd;
}

.buttonQuantity:hover {
    background-color: #1472fd;
}

.buttonQuantity:active {
    border: 0.5px solid black;
}

/* .quantity {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline: 5px;
    align-items: flex-start;
} */

/* .err {
    color: red;
} */

.buttonQuantity2 {
    width: 100%;
    height: 100%;
}

.buttonPay {
    background-color: #60c453; 
    color: white; 
    width: 100%; 
    height: 38px; 
    border-radius: 8px; 
    border: 0px; 
    margin-bottom: 5px
}