.carousel-div {
    margin: 0;


    .carousel-control-next-icon {
        display: none;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-indicators li {
        display: none;
    }


}