.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .orders {
        width: 890px;
        height: 200px;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 5px;
        display: flex;

        .containerImg {
            height: 200px;
            width: 200px;
            padding: 5px;
            box-sizing: border-box;

            .img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 4px;
            }
        }

        .containerData {
            display: flex;
            flex-direction: column;
            margin-left: 12px;

            .title {
                margin: 15px 0 5px;
                color: #063312e9;
                font-family: 'CircularXX Light';
                font-size: 21px;
                letter-spacing: 0;
                line-height: 25px;
                text-transform: capitalize;
            }

            .discount {
                color: white;
                background-color: rgb(20, 147, 41);
                width: max-content;
                padding: 0 7px;
                border-radius: 5px;
                margin-bottom: 5px;
            }

            .previousPrice {
                text-decoration: line-through;
                color: rgb(46 125 67 / 60%);
                font-family: Rubik;
                font-size: 15px;
                font-weight: 300;
            }

            .price {
                color: #063312e9;
                font-family: Rubik;
                font-size: 23px;
                font-weight: 100;
            }
        }
    }

    .pagination {
        width: min-content;
        margin: 20px auto 25px;
    }

}